.contentContainer {
    width: calc(90vw);
    margin-left: calc(5vw);
    margin-right: calc(5vw);
    margin-top: 5px;
}

@media only screen and (max-width: 720px){
    .contentContainer {
        width: calc(100vw);
        margin-left: 0px;
        margin-right: 0px;
    }
}